
<div dir="rtl" class="container-fluid">

  <div class=" section1 row">
    <div
      class="Flex col-md-6 d-flex justify-content-center align-items-center bold"
    >
      <h1>أهلا بيك في <span class="SecondaryColor">شغلانة </span></h1>
      <p>
        "أنجز أعمالك بكل سهولة وأمان عبر الإنترنت مع فريق من أفضل المستقلين
        العرب المتميزين.
      </p>
      <button class="btn px-5">سجل الآن</button>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="../../assets/imgs/Connected world-bro.png"
        alt="Your Image"
        class="img-fluid"
      />
    </div>
  </div>

  <div class=" section2 row text-center">

    <h1><i class="fa-solid fa-briefcase ms-2"></i>كيف يعمل ؟</h1>

    <div class="Flex2 text-center mx-auto d-flex  align-items-center">
      <ul class="list-inline row  ">
        <li class="col-md-3 mx-auto ">الخدمات</li>
        <li class="col-md-3 mx-auto ">المشاريع</li>
        <li class="col-md-3 mx-auto ">المسابقات</li>
        <li class="col-md-3 mx-auto">الخدمات</li>
      </ul>
    </div>
  </div>

  <section id="profiles" class="profiles">
    <div class="profiles-details">
      <div class="section-heading text-center">
        <h2>الخدمات</h2>
      </div>
      <div class="container">
        <div class="profiles-content">
          <div class="row">
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-themeforest"></i></a>
                  <div class="profile-icon-name">الأعمال</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-briefcase"></i></a>
                    <div class="profile-icon-name">الأعمال</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-dribbble"></i></a>
                  <div class="profile-icon-name">البرمجيات</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-code"></i></a>
                    <div class="profile-icon-name">البرمجيات</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-behance-logo"></i></a>
                  <div class="profile-icon-name">تسويق</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-rectangle-ad"></i></a>
                    <div class="profile-icon-name">تسويق</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile profile-no-border">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-github-logo"></i></a>
                  <div class="profile-icon-name">تصميم</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-brands fa-figma"></i></a>
                    <div class="profile-icon-name">تصميم</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-border"></div>
          <div class="row">
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-flickr-website-logo-silhouette"></i></a>
                  <div class="profile-icon-name">فيديو</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-video"></i></a>
                    <div class="profile-icon-name">فيديو</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""></a>
                  <div class="profile-icon-name">صوتيات</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-headphones"></i></a>
                    <div class="profile-icon-name">صوتيات</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-squarespace-logo"></i></a>
                  <div class="profile-icon-name">كتابة وترجمة</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-book"></i></a>
                    <div class="profile-icon-name">كتابة وترجمة</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile profile-no-border">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-bitbucket-logotype-camera-lens-in-perspective"></i></a>
                  <div class="profile-icon-name">استشاره</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-users-between-lines"></i></a>
                    <div class="profile-icon-name">استشاره</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


</div>
