<div dir="rtl" class="container-fluid">
  <div class="section1 row">
    <div
      class="Flex col-md-6 d-flex justify-content-center align-items-center bold"
    >
      <h1>أهلا بيك في <span class="SecondaryColor">شغلانة </span></h1>
      <!-- <h1>counter is {{counter| async}}</h1>   (shared) -->
      <p>
        "أنجز أعمالك بكل سهولة وأمان عبر الإنترنت مع فريق من أفضل المستقلين
        العرب المتميزين.
      </p>
      <button class="btn px-5">سجل الآن</button>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="../../assets/imgs/Connected world-bro.png"
        alt="Your Image"
        class="img-fluid"
      />
    </div>
  </div>

  <div class="section2 row text-center ">
    <h1><i class="fa-solid fa-briefcase"></i>كيف يعمل ؟</h1>
    <section id="revenue" class="brand-logos">
      <div>
          <a >الخدمات</a>
          <a > المسابقات</a>
          <a >المزادات</a>
          <a >المشاريع</a>
      </div>
  </section>
  </div>
  <div class="section3 row ">
    <div class="text-center mt-2">
      <h1>ليه <span class="SecondaryColor">شغلانة ؟ </span></h1>
      <p>
        تعمل شغلانة على توفير بيئة إحترافية وآمنة للتعامل بين رواد الأعمال
        والمستقلين وذلك من خلال
      </p>
    </div>

    <div class="Flex col-md-6 d-flex justify-content-center align-items-center bold">
      <h3>صاحب الأعمال</h3>
      <ul>
        <li>ضمان كامل لحقوقك ودعم فني متميز في خدمتك</li>
        <li>لا رسوم إضافية , فقط ادفع ثمن مشترياتك</li>
        <li>وسائل دفع متنوعة ومؤمنة ومرنة تناسب كل الدول</li>
      </ul>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="../../assets/imgs/Leader-bro.png"

        alt="Your Image"
        class="img-fluid"
        style="  max-height: 440px;
        max-width: 100%; "
      />
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="../../assets/imgs/Nerd-amico.png"
        alt="Your Image"
        class="img-fluid"
        style="  max-height: 440px;
        max-width: 100%; "
      />
    </div>
    <div
      class="Flex col-md-6 d-flex justify-content-center align-items-center bold" >
      <h3 >المستقل</h3>
      <ul>
        <li>ضمان كامل لحقوقك ودعم فني متميز في خدمتك</li>
        <li>فترة تعليق الرصيد قد تصل إلى يومين وذلك بحسب مستوى البائع</li>
        <li>عمولة الموقع قد تصل إلى 10% فقط</li>
        <li>
          وسائل سحب أرباح متنوعة وميسرة (فيزا - ماستركارد - باي بال - فودافون
          كاش - تحويل بنكي والعديد من الوسائل الأخري ....)
        </li>
      </ul>
    </div>

  </div>
   <section   id="revenue" class="mt-0  brand-logos px-4">
        <h1 class="sec-heading pt-3 mb-3" >شركاؤنا</h1>
        <div class="mb-3 pb-4">
            <a><img src="https://www.dropbox.com/s/lmvtthec9yn0ti6/Allianz.png?raw=1" alt="Allianz" title="Work with Allianz"></a>
            <a><img src="https://www.dropbox.com/s/kotgq2u4qr34i2u/audi.jpg?raw=1" alt="Audi" title="Work with Audi"></a>
            <a><img src="https://www.dropbox.com/s/t5dapt3lkz7rdhe/BMW.png?raw=1" alt="BMW" title="Work with BMW"></a>
            <a><img src="https://www.dropbox.com/s/ocqbsbgj590ztyy/ESPN.png?raw=1" alt="ESPN" title="Work with ESPN"></a>
            <a><img src="https://www.dropbox.com/s/2maaqxijcmbaqxg/LG.png?raw=1" alt="LG" title="Work with LG"></a>
            <a><img src="https://www.dropbox.com/s/yn3gj203hrdjfu7/Logo_NIKE.png?raw=1" alt="Nike" title="Work with Nike"></a>
            <a><img src="https://www.dropbox.com/s/gfxa6exv7h1ro6q/Suzuki_logo.png?raw=1" alt="Suzuki" title="Work with Suzuki"></a>
            <a><img src="https://www.dropbox.com/s/b7vwmjf6e0owybv/Visa.svg?raw=1" alt="Visa" title="Work with Visa"></a>
        </div>
    </section>



  <section id="profiles" class="profiles pb-5 pt-2">
    <div class="profiles-details">
      <div class="section-heading text-center pt-3 mb-2">
        <h2>الخدمات</h2>
      </div>
      <div class="container">
        <div class="profiles-content">
          <div class="row">
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-themeforest"></i></a>
                  <div class="profile-icon-name">الأعمال</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-briefcase"></i></a>
                    <div class="profile-icon-name">الأعمال</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-dribbble"></i></a>
                  <div class="profile-icon-name">البرمجيات</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-code"></i></a>
                    <div class="profile-icon-name">البرمجيات</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-behance-logo"></i></a>
                  <div class="profile-icon-name">تسويق</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-rectangle-ad"></i></a>
                    <div class="profile-icon-name">تسويق</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile profile-no-border">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-github-logo"></i></a>
                  <div class="profile-icon-name">تصميم</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-brands fa-figma"></i></a>
                    <div class="profile-icon-name">تصميم</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-border"></div>
          <div class="row">
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""
                    ><i class="flaticon-flickr-website-logo-silhouette"></i
                  ></a>
                  <div class="profile-icon-name">فيديو</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-video"></i></a>
                    <div class="profile-icon-name">فيديو</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""></a>
                  <div class="profile-icon-name">صوتيات</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-headphones"></i></a>
                    <div class="profile-icon-name">صوتيات</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href=""><i class="flaticon-squarespace-logo"></i></a>
                  <div class="profile-icon-name">كتابة وترجمة</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-book"></i></a>
                    <div class="profile-icon-name">كتابة وترجمة</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="single-profile profile-no-border">
                <div class="profile-txt">
                  <a href=""
                    ><i
                      class="flaticon-bitbucket-logotype-camera-lens-in-perspective"
                    ></i
                  ></a>
                  <div class="profile-icon-name">استشاره</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href=""><i class="fa-solid fa-users"></i></a>
                    <div class="profile-icon-name">استشاره</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
