<div dir="rtl" class=" gallery container-fluid ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-3 mt-3 ">
<div class="firstbtn">
<button class="btn px-3 py-2"><i class="fa-solid fa-plus ms-2"></i>أضف نماذج من أعمالك</button>
</div>
<div class="coloum mb-3 pe-2">
  <p class="bold-text pt-2 pe-2">الأقسام</p> <hr>
<p> <i class="fa-solid fa-briefcase mx-auto"></i> أعمال وخدمات ادارية واستشارية</p><hr>
<p><i class="fa-solid fa-code mx-auto "></i> برمجة, تطوير المواقع و التطبيقات</p><hr>
<p><i class="fa-brands fa-figma  mx-auto  "></i>تصميم</p><hr>
<p> <i class="fa-solid fa-video  mx-auto  "></i>فيديو</p><hr>
<p> <i class="fa-solid fa-book  mx-auto "></i>كتابة و ترجمة ولغات</p>
</div>
    </div>
    <div class="col-md-9 mt-3">
      <div class="GalleryWork">
        <p class="bold-text pt-2 pe-2">معرض الأعمال</p>

      </div>

<div class="row row-cols-1 row-cols-md-3 mt-2 mb-2">


    <div class="col mb-2" >
      <div class="card h-100" appHighlight externalColor="#16a763">
        <div class="badge position-absolute top-2 start-2 bg-success text-white"><i class="fa-regular fa-heart"></i></div>
        <img src="../../assets/imgs/Nerd-amico.png" height="250px" class="card-img-top" alt="..." />
        <div class="card-body text-end">
          <h5 class="card-title bold-text">شعارات | logo Design</h5>
          <div class="d-flex">

            <div class="freelancerInfo d-flex ms-auto float-left">
              <img
              src="../../assets/imgs/Nerd-amico.png"
                height="50px"
                class="border rounded-circle border-light"
              />
              <div class="info">
                <p class="card-text mb-0 bold-text">Asmaa Hassan</p>
                <p class="card-text">Graphic Designer</p>
              </div>
            </div>
<div class="float-right">
  <div class="stats d-flex align-items-center">
    <div class="likes me-3">
      <p>12 <i class="fa-regular fa-heart"></i></p>
    </div>

  </div>

</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2" >
      <div class="card h-100" appHighlight externalColor="#16a763">
        <div class="badge position-absolute top-2 start-2 bg-success text-white"><i class="fa-regular fa-heart"></i></div>
        <img src="../../assets/imgs/Nerd-amico.png" height="250px" class="card-img-top" alt="..." />
        <div class="card-body text-end">
          <h5 class="card-title bold-text">شعارات | logo Design</h5>
          <div class="d-flex">

            <div class="freelancerInfo d-flex ms-auto float-left">
              <img
              src="../../assets/imgs/Nerd-amico.png"
                height="50px"
                class="border rounded-circle border-light"
              />
              <div class="info">
                <p class="card-text mb-0 bold-text">Asmaa Hassan</p>
                <p class="card-text">Graphic Designer</p>
              </div>
            </div>
<div class="float-right">
  <div class="stats d-flex align-items-center">
    <div class="likes me-3">
      <p>12 <i class="fa-regular fa-heart"></i></p>
    </div>

  </div>

</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2" >
      <div class="card h-100" appHighlight externalColor="#16a763">
        <div class="badge position-absolute top-2 start-2 bg-success text-white"><i class="fa-regular fa-heart"></i></div>
        <img src="../../assets/imgs/Nerd-amico.png" height="250px" class="card-img-top" alt="..." />
        <div class="card-body text-end">
          <h5 class="card-title bold-text">شعارات | logo Design</h5>
          <div class="d-flex">

            <div class="freelancerInfo d-flex ms-auto float-left">
              <img
              src="../../assets/imgs/Nerd-amico.png"
                height="50px"
                class="border rounded-circle border-light"
              />
              <div class="info">
                <p class="card-text mb-0 bold-text">Asmaa Hassan</p>
                <p class="card-text">Graphic Designer</p>
              </div>
            </div>
<div class="float-right">
  <div class="stats d-flex align-items-center">
    <div class="likes me-3">
      <p>12 <i class="fa-regular fa-heart"></i></p>
    </div>

  </div>

</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2" >
      <div class="card h-100" appHighlight externalColor="#16a763">
        <div class="badge position-absolute top-2 start-2 bg-success text-white"><i class="fa-regular fa-heart"></i></div>
        <img src="../../assets/imgs/Nerd-amico.png" height="250px" class="card-img-top" alt="..." />
        <div class="card-body text-end">
          <h5 class="card-title bold-text">شعارات | logo Design</h5>
          <div class="d-flex">

            <div class="freelancerInfo d-flex ms-auto float-left">
              <img
              src="../../assets/imgs/Nerd-amico.png"
                height="50px"
                class="border rounded-circle border-light"
              />
              <div class="info">
                <p class="card-text mb-0 bold-text">Asmaa Hassan</p>
                <p class="card-text">Graphic Designer</p>
              </div>
            </div>
<div class="float-right">
  <div class="stats d-flex align-items-center">
    <div class="likes me-3">
      <p>12 <i class="fa-regular fa-heart"></i></p>
    </div>

  </div>

</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2" >
      <div class="card h-100" appHighlight externalColor="#16a763">
        <div class="badge position-absolute top-2 start-2 bg-success text-white"><i class="fa-regular fa-heart"></i></div>
        <img src="../../assets/imgs/Nerd-amico.png" height="250px" class="card-img-top" alt="..." />
        <div class="card-body text-end">
          <h5 class="card-title bold-text">شعارات | logo Design</h5>
          <div class="d-flex">

            <div class="freelancerInfo d-flex ms-auto float-left">
              <img
              src="../../assets/imgs/Nerd-amico.png"
                height="50px"
                class="border rounded-circle border-light"
              />
              <div class="info">
                <p class="card-text mb-0 bold-text">Asmaa Hassan</p>
                <p class="card-text">Graphic Designer</p>
              </div>
            </div>
<div class="float-right">
  <div class="stats d-flex align-items-center">
    <div class="likes me-3">
      <p>12 <i class="fa-regular fa-heart"></i></p>
    </div>

  </div>

</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2" >
      <div class="card h-100" appHighlight externalColor="#16a763">
        <div class="badge position-absolute top-2 start-2 bg-success text-white"><i class="fa-regular fa-heart"></i></div>
        <img src="../../assets/imgs/Nerd-amico.png" height="250px" class="card-img-top" alt="..." />
        <div class="card-body text-end">
          <h5 class="card-title bold-text">شعارات | logo Design</h5>
          <div class="d-flex">

            <div class="freelancerInfo d-flex ms-auto float-left">
              <img
              src="../../assets/imgs/Nerd-amico.png"
                height="50px"
                class="border rounded-circle border-light"
              />
              <div class="info">
                <p class="card-text mb-0 bold-text">Asmaa Hassan</p>
                <p class="card-text">Graphic Designer</p>
              </div>
            </div>
<div class="float-right">
  <div class="stats d-flex align-items-center">
    <div class="likes me-3">
      <p>12 <i class="fa-regular fa-heart"></i></p>
    </div>

  </div>

</div>
          </div>
        </div>
      </div>
    </div>

</div>
    </div>

  </div>
  </div>
