<div dir="rtl" class="container-fluid">

  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #000"
          >

    <div class="container p-4 pb-0">

      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h3 style="color: #1dbf73" class="text-uppercase mb-4 font-weight-bold">
          شغلانة
            </h3>
            <p>
              إنجز أعمالك عبر الإنترنت بسهولة وأمان على يد نخبة من أفضل المستقلين في الوطن العربي
            </p>
          </div>


          <hr class="w-100 clearfix d-md-none" />

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">المساعدة والدعم</h6>
            <p>
              <a class="text-white">مركز المساعدة</a>
            </p>
            <p>
              <a class="text-white">الاسئلة الشائعة</a>
            </p>
            <p>
              <a class="text-white">بنك الاسئلة </a>
            </p>
            <p>
              <a class="text-white">تواصل معنا</a>
            </p>
          </div>


          <hr class="w-100 clearfix d-md-none" />

          <hr class="w-100 clearfix d-md-none" />


          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">الاسئلة الشائعة</h6>
            <p><i class="fas fa-home mr-3"></i> كيف أبيع أول خدمة علي المنصة؟</p>
            <p><i class="fas fa-phone mr-3"></i> لماذا منصة شغلانة هي الخيار الامثل للمستقلين بالوطن العربي؟</p>
      <p><i class="fas fa-print mr-3"></i>الخدمات الاكثر طلبا علي المنصة</p>
          </div>

        </div>
      </section>
    </div>
<div class="container-fluid">

  <footer class="text-center text-white">
  <div class="container p-4 pb-2">
    <section class="">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-google"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-github"></i
      ></a>
    </section>

  </div>

</footer>

</div>
    <div
         class="text-center p-3"
         style="background-color: rgba(54, 49, 49, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://Shoglana.com/"
         >MDBootstrap.com</a
        >
    </div>

  </footer>

</div>

