<div class="row">
  <div class="col-lg-2">
    <div class="d-grid">
      <button
        class="btn btn-primary btn-block"
        type="button"
        (click)="backToHome()"
      >
        Back to home
      </button>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-2">
    <div class="card border-secondary mb-3">
      <div class="card-header h3 text-muted text-center">Users</div>
      <div class="card-body" style="min-height: 555px">
        <div
          class="row mt-1"
          *ngFor="let user of _individualChatService.OnlineUsers"
        >
          <div class="col">
            <div class="d-grid">
              <button
                type="button"
                class="btn  card-text btn-block"
                [ngClass]="{
                    'btn-success': user === _individualChatService.myName?.name,
                    'btn-dark': user !== _individualChatService.myName?.name}"
                [disabled]=" user === _individualChatService.myName?.name"
              >
                {{ user }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card border-secondary">
      <div class="card-header h3 text-muted text-center">Messages</div>
      <div class="card-body" style="min-height: 500px">
        <div style="overflow-y: auto; height: 450px">
          <p class="crad-text">
            <span class="text-primary">user1:</span>
            <span class="ml-1">Some Messages goes here</span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">Some Messages goes here</span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
          <p class="crad-text mt-1">
            <span class="text-primary">user2:</span>
            <span class="ml-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              similique sequi repellat magnam rem itaque, nobis exercitationem
              necessitatibus officiis, in quia dicta. Temporibus ad est facere.
              Iste deleniti quam iure?
            </span>
          </p>
        </div>
      </div>
      <div class="card-footer">
        <form autocomplete="off">
          <div class="row">
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                placeholder="send-message"
              />
            </div>
            <div class="col-3">
              <div class="d-grid">
                <button class="btn btn-dark btn-block" type="submit">
                  send
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
