<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mt-5 text-dark">Welcome to ChatHub</h2>
            <div class="text-center mb-5 text-dark">Please Join the room to start chatting</div>
            <div class="card my-5">
                <form [formGroup]="joinRoomForm" class="card-body cardbody-color p-lg-5">
                    <div class="text-center">

                    </div>
                    <div class="mb-3">
                        <input formControlName="user" type="text" class="form-control" id="displayname" aria-describedby="emailhelp"
                         placeholder="Display Name">
                    </div>
                    <div class="mb-3">
                        <input formControlName="room" type="text" class="form-control" id="roomname" placeholder="Room Name">
                    </div>
                    <div class="text-center">
                        <button [disabled]="joinRoomForm.invalid" (click)="joinRoom()" type="submit" class="btn btn-color px-5 mb-5 w-50">
                        Join
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>