<div class="project container-fluid d-flex pt-5">
  <div class="col-md-8 h-50 mx-5">
    <div class="container py-1 d-flex justify-content-between align-items-center">
      <div class="col-8 d-flex justify-content-start align-items-center gap-3">

        <div class="d-flex align-items-center border p-2 rounded ">
          <div class="form-check mx-3">
            <input
              class="form-check-input"
              type="radio"
              name="statusFilter"
              id="statusAll"
            />
            <label class="form-check-label" for="statusAll"> الكل </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="statusFilter"
              id="statusOpen"
              checked
            />
            <label class="form-check-label" for="statusOpen"> مفتوح </label>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h6 class="text-end">المشاريع <i class="fa-brands fa-rocketchat"></i></h6>
      </div>
    </div>
     <div class="jobs-container mt-3" *ngFor="let proposal of Proposals">
      <div class="container job-item my-3 p-3 border rounded">
        <div class="row justify-content-between align-items-center">
          <!-- <div class="col-4">
            <p class="price"> 25$</p>
          </div> -->
          <div class="col-12 d-flex justify-content-end align-items-center">
            <div class="d-flex flex-column text-end me-3">
              <div class="d-flex ">
                <p class="status ms-1 p-1">مغلق</p>

                  <p class="title">Coding</p>

              </div>
              <div class="d-flex">
                <p class="clientName ps-2"><i class="fa-solid fa-user ps-1 "></i>Client name </p>
                <p class="clientName pe-2"><i class="fa-solid fa-calendar-xmark ps-1"></i>مدة التنفيذ  {{proposal.duration}}  ايام </p>
                <p class="clientName pe-2"><i class="fa-solid fa-money-check-dollar ps-1"></i> {{proposal.price}}</p>

            </div>
              <p class="Descriptipn"> {{proposal.description}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 justify-content-center align-items-center">

<h1>hi</h1>
  </div>
</div>


