<nav class="navbar navbar-expand-lg navbar-light custom-navbar dark:bg-gray-800">
  <div class="ms-auto d-flex align-items-center dark:bg-gray-800">


    <ul class="navbar-nav  dark:bg-gray-800">
      <li *ngIf="isLogged" class="nav-item">
        <a style="cursor: pointer;" class="nav-link text-nowrap" (click)="logOut()">تسجيل خروج</a>
      </li>
    </ul>
  </div>
  <!-- <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class=" navbar-collapse mt-3 mb-3 dark:bg-gray-800 " id="navbarSupportedContent">
    <a class="navbar-brand dark:text-gray-200" href="#">
      <img
        src="../../assets/imgs/pixelcut-export.png"
        class="logo ms-2"
        alt="Logo"
        width="30px"
        height="50px"
      />
    </a>

    <div class="ms-auto dark:bg-gray-800">
      <ul class="navbar-nav text-gray-900 dark:text-gray-200">
        <li *ngIf="isClient || isFreelancer" class="nav-item">
          <label class="popup btn" style="color: aliceblue;" (click)="GetNotifications()">
            <input type="checkbox" [(ngModel)]="IsOpenPopUp">
            <i class="fa-solid fa-earth-americas pt-3"></i>

            <ng-container *ngIf="NewNotificationsCounter > 0">
              <span class="badge">{{NewNotificationsCounter}}</span>
            </ng-container>
            
            <nav class="popup-window" style="direction: rtl;">
              <legend style="direction: rtl;"> <strong style="font-size: larger; font-weight: bolder; direction: rtl;"> الاشعارات </strong></legend>

              <div style="height: 60vh; overflow: scroll;">
              <ul>
              <ng-container *ngIf="Notifications !== undefined">
                <div *ngIf="Notifications.length > 0; else EmptyNotifications">
                <li *ngFor="let notification of Notifications" class="mb-2">
                  <button (click)="Navigate(notification.id)" class="btn btn-light w-100 p-2 d-flex justify-content-between align-items-start">
                    <div class="d-flex">
                      <i class="fa-regular fa-bell me-2 mt-1"></i>
                      <div>
                        <p class="mb-0 fw-bold " style="font-size: larger;">{{notification.title}}</p>
                        <p class="mb-0 text-muted">{{notification.description}}</p>
                      </div>
                    </div>
                    <span class="text-muted align-self-start">{{FormatTime(notification.sentTime)}}</span>
                  </button>
                </li>
              </div>
</ng-container>
                
            <ng-template #EmptyNotifications>
              <li class="bg-danger  text-white p-2"> لا يوجد اشعارات بعد </li>
             </ng-template>
              
                
                <!-- <li>
                  <button>
                    <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                      <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                    </svg>
                    <i class="fa-regular fa-bell"></i>
                    <span>Magic Link</span>
                  </button>
                </li>
                <hr>
                <li>
                  <button>
                    <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <rect ry="2" rx="2" height="13" width="13" y="9" x="9"></rect>
                      <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                    </svg>
                    <span>Clone</span>
                  </button>
                </li>
                <li>
                  <button>
                    <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                    </svg>
                    <span>Edit</span>
                  </button>
                </li>
                <hr>
                <li>
                  <button>
                    <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                      <line y2="18" x2="6" y1="6" x1="18"></line>
                      <line y2="18" x2="18" y1="6" x1="6"></line>
                    </svg>
                    <span>Delete</span>
                  </button>
                </li> -->
              </ul>
            </div>
          

            </nav>
          </label>
        </li>



        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link text-nowrap text-gray-200 dark:hover:text-green-500 dark:text-gray-200" routerLink="/signin">تسجيل دخول</a>
        </li>


        <li *ngIf="isClient || isFreelancer" class="nav-item">
          <a class="nav-link text-nowrap text-gray-200 dark:hover:text-green-500 dark:text-gray-200" routerLink="/individualChat"> شات </a>
        </li>

       
        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link text-nowrap dark:hover:text-green-500 dark:text-gray-200  " routerLink="/register">انشاء حساب</a>
        </li>
        <!-- <li *ngIf="isLogged" class="nav-item active">
          <a class="nav-link dark:hover:text-green-500 dark:text-gray-200" routerLink="/joinRoom"> جوين روم </a>
        </li> -->
        <!-- <div class="navbar">
          <button class="dropdown-button" (click)="toggleDropdown()">
            <i class="fa-regular fa-comment"></i>
          </button>
          <div class="dropdown-container" *ngIf="isOpen">
            <div class="dropdown-content">
              <p *ngIf="messages.length === 0">No new messages</p>
              <div *ngFor="let message of messages">
                <div [ngClass]="{'incoming_msg': message.user !== loggedInUserName, 'outgoing_msg': message.user === loggedInUserName}">
                  <div *ngIf="message.user !== loggedInUserName" class="incoming_msg_img">
                    <img src="https://ptetutorials.com/images/user-profile.png" alt="user">
                  </div>
                  <div *ngIf="message.user !== loggedInUserName" class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ message.message }}</p>
                      <span class="time_date">{{ message.user }} | {{ message.messageTime | date: 'medium' }}</span>
                    </div>
                  </div>
                  <div *ngIf="message.user === loggedInUserName" class="sent_msg">
                    <p>{{ message.message }}</p>
                    <span class="time_date">{{ message.user }} | {{ message.messageTime | date: 'medium' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <li *ngIf="isLogged && isClient" class="nav-item active">
          <a class="nav-link text-nowrap" [routerLink]="['/clientProfile', Id]">
            الملف الشخصي</a
          >
          <li *ngIf="isLogged && isFreelancer" class="nav-item active">
            <a class="nav-link text-nowrap" [routerLink]="['/freelancerprofile', Id]">
              الملف الشخصي</a
            >
          <!--client profile not freelancer-->
        </li>
        <li *ngIf="isFreelancer || isClient" class="nav-item active">
          <a class="nav-link text-nowrap dark:hover:text-green-500 dark:text-gray-200" routerLink="/projects">مشروع</a>
        </li>
        <li *ngIf="isLogged && isClient" class="nav-item active">
          <a class="nav-link text-nowrap dark:hover:text-green-500" routerLink="/addproject">اضف مشروع</a>
        </li>
        <li *ngIf="isLogged && isFreelancer" class="nav-item active">
          <a class="nav-link text-nowrap dark:hover:text-green-500" routerLink="/addservice">اضف خدمة</a>
        </li>
        <li *ngIf="isLogged && isFreelancer" class="nav-item">
          <a class="nav-link text-nowrap dark:hover:text-green-500" routerLink="/galleryworks">معرض الأعمال</a>
        </li>
        <li *ngIf="isLogged && isClient" class="nav-item">
          <a class="nav-link text-nowrap dark:hover:text-green-500" routerLink="/freelancers">رواد الأعمال</a>
        </li>
        <!-- <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link text-gray-200 dark:hover:text-green-500" routerLink="/jobs">المشاريع</a>
        </li> -->
        <li *ngIf="isLogged && isFreelancer" class="nav-item">
          <a class="nav-link text-nowrap dark:hover:text-green-500" routerLink="/offers"> عروضي</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-nowrap dark:hover:text-green-500" routerLink="/home">الرئيسية</a>
        </li>
      </ul>
    </div>


  </div>
  <div class="relative mt-4 md:mt-0">
    <div class="flex items-center">
      @if(darkModeService.darkModeSignal() === 'dark'){
        <span (click)="toggleDarkMode()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-gray-400">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
          />
        </svg></span>
      }
      @else {
        <span (click)="toggleDarkMode()"> <svg  xmlns="http://www.w3.org/2000/svg"  fill="none"  viewBox="0 0 24 24"  stroke-width="1.5"  stroke="currentColor"  class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
            /> </svg>
        </span>
      }


    </div>
  </div>
</nav>

