<nav class="navbar navbar-expand-lg navbar-light custom-navbar dark:bg-gray-800">
  <div class="ms-auto d-flex align-items-center dark:bg-gray-800">
    <a class="navbar-brand dark:text-gray-200" href="#">
      <img
        src="../../assets/imgs/pixelcut-export.png"
        class="logo ms-2"
        alt="Logo"
        width="30px"
        height="50px"
      />
    </a>

    <ul class="navbar-nav  dark:bg-gray-800">
      <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" (click)="logOut()">تسجيل خروج</a>
      </li>
    </ul>
  </div>
  <!-- <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class=" navbar-collapse mt-3 mb-3 dark:bg-gray-800" id="navbarSupportedContent">
    <div class="ms-auto dark:bg-gray-800">
      
      <ul class="navbar-nav text-gray-900 dark:text-gray-200">
        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link text-gray-200 dark:hover:text-green-500 dark:text-gray-200" routerLink="/signin">تسجيل دخول</a>
        </li>
        <li *ngIf="!isLogged" class="nav-item">
          <a class="nav-link dark:hover:text-green-500 dark:text-gray-200 " routerLink="/register">انشاء حساب</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark:hover:text-green-500 dark:text-gray-200" routerLink="/joinRoom"> جوين روم </a>
        </li>
        <div class="navbar">
          <button class="dropdown-button" (click)="toggleDropdown()">
            <i class="fa-regular fa-comment"></i>
          </button>
          <div class="dropdown-container" *ngIf="isOpen">
            <div class="dropdown-content">
              <p *ngIf="messages.length === 0">No new messages</p>
              <!-- <div *ngFor="let message of messages">
                <div [ngClass]="{'incoming_msg': message.user !== loggedInUserName, 'outgoing_msg': message.user === loggedInUserName}">
                  <div *ngIf="message.user !== loggedInUserName" class="incoming_msg_img">
                    <img src="https://ptetutorials.com/images/user-profile.png" alt="user">
                  </div>
                  <div *ngIf="message.user !== loggedInUserName" class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ message.message }}</p>
                      <span class="time_date">{{ message.user }} | {{ message.messageTime | date: 'medium' }}</span>
                    </div>
                  </div>
                  <div *ngIf="message.user === loggedInUserName" class="sent_msg">
                    <p>{{ message.message }}</p>
                    <span class="time_date">{{ message.user }} | {{ message.messageTime | date: 'medium' }}</span>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/clientProfile', clientId]">
            الملف الشخصي</a
          >
          <!--client profile not freelancer-->
        </li>
        <li *ngIf="isLogged" class="nav-item active">
          <a class="nav-link dark:hover:text-green-500 dark:text-gray-200" routerLink="/projects">مشروع</a>
        </li>
        <li *ngIf="isLogged" class="nav-item active">
          <a class="nav-link dark:hover:text-green-500" routerLink="/addproject">اضف مشروع</a>
        </li>
        <li *ngIf="isLogged" class="nav-item active">
          <a class="nav-link dark:hover:text-green-500" routerLink="/addservice">اضف خدمة</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link dark:hover:text-green-500" routerLink="/galleryworks">معرض الأعمال</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link dark:hover:text-green-500" routerLink="/freelancers">رواد الأعمال</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link text-gray-200 dark:hover:text-green-500" routerLink="/jobs">المشاريع</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link dark:hover:text-green-500" routerLink="/offers"> عروضي</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark:hover:text-green-500" routerLink="/home">الرئيسية</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="relative mt-4 md:mt-0">
    <div class="flex items-center">
      @if(darkModeService.darkModeSignal() === 'dark'){
        <span (click)="toggleDarkMode()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 dark:text-gray-400">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
          />
        </svg></span>
      }
      @else {
        <span (click)="toggleDarkMode()"> <svg  xmlns="http://www.w3.org/2000/svg"  fill="none"  viewBox="0 0 24 24"  stroke-width="1.5"  stroke="currentColor"  class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
            /> </svg>
        </span>
      }
   
      
    </div>
  </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-between container">
      <ul class="navbar-nav flex-row">
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link d-sm-flex align-items-sm-center" href="#">
            <img
              src="https://mdbootstrap.com/img/new/avatars/1.webp"
              class="rounded-circle"
              height="22"
              alt=""
              loading="lazy"
            />
            <strong class="d-none d-sm-block ms-1">John</strong>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" href="#">
            <span><i class="fas fa-plus-circle fa-lg"></i></span>
          </a>
        </li>
        <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
          <a
            class="nav-link dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <i class="fas fa-comments fa-lg"></i>

            <span class="badge rounded-pill badge-notification bg-danger">6</span>
          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
          <a
            class="nav-link dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <i class="fas fa-bell fa-lg"></i>
            <span class="badge rounded-pill badge-notification bg-danger">12</span>
          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >

            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>

        <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
          <a
            class="nav-link dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <i class="fas fa-chevron-circle-down fa-lg"></i>
          </a>
          <ul
            mdbDropdownMenu
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav flex-row d-none d-md-flex">
        <li class="nav-item me-3 me-lg-1 active">
            <a class="nav-link" routerLink ="/home" routerLinkActive="bg-success text-light">
                <span><i class="fas fa-home fa-lg"></i></span>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </a>

        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" href="#">
            <span><i class="fas fa-flag fa-lg"></i></span>
          </a>
        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" href="#">
            <span><i class="fas fa-video fa-lg"></i></span>
          </a>
        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" href="#">
            <span><i class="fas fa-shopping-bag fa-lg"></i></span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/signin">Log in</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/register">Sign up</a>
        </li>


      </ul>

   <div class="d-flex">
    <form class="input-group w-auto my-auto d-none d-sm-flex">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          style="min-width: 125px;"
        />
        <span class="input-group-text border-0 d-none d-lg-flex"
          ><i class="fas fa-search"></i
        ></span>
      </form>
    <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
      <img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
        height="20"
        alt=""
        loading="lazy"
        style="margin-top: 2px;"
      />
    </a>


  </div>

    </div>
  </nav> -->
