<div class="container">
  <div class="row justify-content-end">
    <div *ngFor="let job of WorkingHistory" class="col-auto ">
      <div class="card ms-auto" style="width: 18rem; direction: rtl">
        <img
          class="card-img-top"
          [src]="job.poster"
          [alt]="job.title + ' image'"
          [title]="job.title + ' image'"
          height="250"
          width="250"
        />
        <div class="card-body" style="direction: rtl">
          <h5 class="card-title">{{ job.title }}</h5>
          <p class="card-text">{{ job.description }}</p>
          <button (click)="ToggleFeedback(job.id)" class="btn btn-primary">
            {{ job.showFeedback ? "اخفاء التقييم" : "عرض التقييم" }}
          </button>
          <div *ngIf="job.showFeedback" class="feedback-section mt-3 p-3 border rounded bg-light">
            <div *ngIf="job.rate; else defaultRate">
              <h6 class="mb-2">تقييم العميل:</h6>
              <p class="mb-0">
                {{ job.rate.feedback }}
                <span class="rating">
                  (<i class="fa-solid fa-star text-warning"></i> {{ job.rate.value }})
                </span>
              </p>
            </div>
            <ng-template #defaultRate>
              <span class="text-danger">العميل لم يضف تقييم لهذا العمل</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
