<div class="container mt-5">
    <div class="chat-header">
        <h3 class="text-center my-2">welcome to <span class="text-warning">Dummy Room Name</span> Group</h3>
        <button class="btn btn-danger">Leave Chat</button>
    </div>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4 class="text-white">Connected Users</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img">
                                <img>
                            </div>
                            <div class="chat_ib mt-3">
                                <h5>Dummy Connected User <span class="online"> </span></h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    
                </div>
            </div>
        </div>
    </div>
</div>