<!-- <a class="btn btn-primary w-75 ark:hover:text-green-500" routerLink="/addproject">
  <i class="fa-solid fa-plus ms-2"></i>
  اضف مشروع
</a> -->
<a class="w-75 ark:hover:text-green-500" routerLinkActive="router-link-active"  [routerLink]="['/addproject']">
  <div class="btn btn-primary w-75">
    <i class="fa-solid fa-plus ms-2"></i>
    اضف مشروع
  </div>
</a>
  <!-- اضف مشروع -->

<div class="search-container w-75 my-3 position-relative">
  <i class="fa-solid fa-magnifying-glass search-icon position-absolute"></i>
  <input
    class="form-control search-input text-end"
    placeholder="... ابحث عن"
    [(ngModel)]="searchKeyword"
    (input)="search()"
  />
</div>
<div class="text-end w-75">
  <div class="column mb-3 pe-2">
    <p class="bold-text pt-2 pe-2">الأقسام</p>
  </div>
  <div class="categories pe-2">
    <div
      class="category-item d-flex align-items-center justify-content-between"
      *ngFor="let cat of categories"
    >
      <div>
        <input
          id="categ"
          class="form-check-input ms-3"
          type="checkbox"
          [(ngModel)]="cat.selected"
          (change)="categorySelected()"
        />
        <label class="form-check-label" for="categ">
          {{ cat.title }}
        </label>
      </div>
    </div>
  </div>
</div>
<div class="mt-3 text-end w-75">
  <p class="bold-text pt-2 pe-2">الفلترة بواسطة الميزانية</p>
  <div class="mb-3">
    <label for="minBudget" class="form-label">الحد الأدنى</label>
    <input
      type="number"
      class="form-control"
      id="minBudget"
      name="minBudget"
      [(ngModel)]="minBudget"
      (blur)="applyFilters()"
    />
  </div>
  <div class="mb-3">
    <label for="maxBudget" class="form-label">الحد الأقصى</label>
    <input
      type="number"
      class="form-control"
      id="maxBudget"
      name="maxBudget"
      [(ngModel)]="maxBudget"
      (blur)="applyFilters()"
    />
  </div>
  <button class="btn btn-primary" (click)="resetFilters()">إعادة الضبط</button>
</div>
