<div class="project container-fluid pt-2">
  <div class="col-12">
    <div
      class="col-11 container-fluid justify-content-center align-items-center d-flex my-2"
    >
      <div class="col-3 mx-5">
      <div dir="rtl">
        <h6> <i class="fa-solid fa-backward-fast ms-2"></i> ابدأ بإنجاز مشروعك </h6>
        <p>
            تستطيع إنجاز مشروعك بالشكل الذي تريده من خلال شغلانة
            أدخل تفاصيل المشروع والميزانية والمدة المتوقعة ليتم مراجعته ونشره
            مجاناً، بعد ذلك سيظهر للمستقلين في صفحة المشاريع ويقدموا عروضهم عليه
            لتختار العرض الأنسب لك ويبدأ المستقل بتنفيذ المشروع.
        </p>
      </div>
        
        <h6 class="text-end py-3"> <i class="fa-solid fa-plus ms-2"></i>أنشر مشروعك على شغلانة</h6>
        <p dir="rtl">
          تساعدك منصة شغلانة على الوصول إلى أفضل المستقلين المحترفين لإنجاز
          أعمالك عن بعد .<br />
          بعد إضافة مشروعك على شغلانة ومراجعته ، سيتقدم إليك عدد من العروض من
          المستقلين المتخصيين يمكنك إختيار العرض الأنسب لك من العروض المقدمة
          وإعتماده
        </p>
        <div dir="rtl">
          <h6 class="mx-3"> <i class="fa-regular fa-lightbulb ms-2" ></i>نصائح إضافة المشروع</h6>

          <ul>
            <li>أدخل تفاصيل المشروع بدقة</li>
            <li>املأ جميع الحقول ووفّر أمثلة لما تريد</li>
            <li>جزّء المشروع على عدّة مراحل صغيرة</li>
          </ul>
        </div>
        <hr />
      </div>
      <div class="col-8 text-end ms-3">
        <h3 class="mb-4 mx-2">إضافة مشروع</h3>
        <div class="container my-2 py-2">
          <form [formGroup]="projectForm" (ngSubmit)="addProject()">
            <div class="col-11">
              <label for="Project-Title">عنوان المشروع</label>
              <input
                type="text"
                id="Project-Title"
                name="Project-Title"
                class="w-100"
                formControlName="title"
                required
              />
              <small>أدرج عنوانا موجزا يصف مشروعك بشكل دقيق</small>
            </div>
            <div class="col-11">

              <div class="form-check d-flex justify-content-between">
                <div class="form-check-item d-flex align-items-center">
                  <!-- <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkbox1"
                  />
                  <label class="form-check-label mx-4" for="checkbox1"
                    >Option 1</label
                  >
                </div>
                <div class="form-check-item d-flex align-items-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkbox2"
                  />
                  <label class="form-check-label mx-4" for="checkbox2"
                    >Option
                  </label>
                </div>
                <div class="form-check-item d-flex align-items-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkbox3"
                  />
                  <label class="form-check-label mx-4" for="checkbox3"
                    >Option 3</label
                  >
                </div>
                <div class="form-check-item d-flex align-items-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkbox1"
                  />
                  <label class="form-check-label mx-4" for="checkbox1"
                    >Option 1</label
                  >
                </div>
                <div class="form-check-item d-flex align-items-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkbox2"
                  />
                  <label class="form-check-label mx-4" for="checkbox2"
                    >Option
                  </label>
                </div>
                <div class="form-check-item d-flex align-items-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkbox3"
                  />
                  <label class="form-check-label mx-4" for="checkbox3"
                    >Option 3</label
                  > -->
                  <!-- <select multiple>
                    <option selected>أضف مهارة</option>
                    <option *ngFor="let skill of SkillsList" [value]="skill.id">{{skill.title}}</option>
                  </select> -->
                 
                  

                </div>
              </div>
            </div>
            <div class="col-11 mt-3">
              <label for="description">قم بوصف المشروع</label>
              <textarea
                id="description"
                name="description"
                class="w-100"
                rows="4"
                formControlName="description"
                required
              ></textarea>
              <small>أدرج وصفا مفصّلا ودقيقا لمشروعك.</small>
            </div>

            <div class="d-flex">
              <div class="col-5 ms-5  ">
                <label for="minBudget">  الحد الادنى للميزانية المتوقعة </label>
                <input type="number" id="minBudget" name="minBudget" formControlName="minBudget">


                <small>اختر ميزانية مناسبة لتحصل على عروض جيدة</small>
              </div>
              <div class="col-5">
                <label for="maxBudget">  الحد الاعلي للميزانية المتوقعة </label>
                <input type="number" id="maxBudget" name="maxBudget" formControlName="maxBudget">
               
              </div>
             
            </div>
            <div>
              <label for="delivery-time">
               المدة المتوقعة للتسليم <span> (بالأيام) </span></label
             >
             <input
               type="number"
               id="delivery-time"
               name="delivery-time"
               class="w-75"
               formControlName="durationInDays"
               required
             />
             <br />
             <small>متى تحتاج استلام مشروعك</small>
           </div>

           <div class="skills-container">
            <label for="Project-Skills"> مهارات متعلقة بالمشروع </label>
            <ng-select [items]="SkillsList"
                       bindLabel="title"
                       bindValue="id"
                       placeholder="أضف مهارة"
                       [multiple]="true">
            </ng-select>
          </div>
<!-- <h1>sa</h1> -->
            <button type="submit" class="btn btn-success mt-3">أضف عرضك</button>
          </form>
          <h1></h1>
        </div>
      </div>
    </div>
  </div>
</div>
