<main class="container mt-4 text">
  <section id="content" class="page-heading p-5 bg-light rounded shadow-sm">
    <div class="d-flex align-items-center flex-row-reverse">
      <div class="pl-3">
        <img
          class="mw-150 border rounded-circle shadow"
          [src]="getImageSource()"
          [alt]="freelancer.name + ' image'"
          width="150"
        />
      </div>
      <div class="mr-4">
        <h2 class="media-heading custom-title" style="direction: rtl">
          {{ freelancer.name }}
        </h2>
        <p
          class="lead text-muted"
          style="direction: rtl"
          *ngIf="freelancer.title; else defaultTitle"
        >
          {{ freelancer.title }}
        </p>
        <ng-template #defaultTitle>
          <span class="text-danger"> لم يضف التخصص بعد </span>
        </ng-template>
        <div class="mt-3">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" title="Facebook Link">
                <span class="fa-brands fa-facebook-square fs-3 text-success"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" title="LinkedIn Link">
                <span class="fa-brands fa-linkedin fs-3 text-success"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" title="GitHub Link">
                <span class="fa-brands fa-github fs-3 text-success"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" title="Phone Link">
                <span class="fa fa-phone-square fs-3 text-success"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" title="Email Link">
                <span class="fa fa-envelope-square fs-3 text-success"></span>
              </a>
            </li>
          </ul>
        </div>

        <div *ngIf="LoggedInId === currentFreelancerId && isFreelancer" class="text-start">
          <button class="btn btn-success mt-3" style="direction: rtl" (click)="toggleEditMode()">
            تعديل البروفايل
          </button>
        </div>

        <div class="text-start">
          <button class="btn btn-success mt-3">
            <a class="nav-link" style="direction: rtl" routerLinkActive="active" [routerLink]="['/offers']">
              العروض
            </a>
          </button>
        </div>
      </div>
    </div>

  </section>

  <div class="row mt-4">
    <div class="col-md-4">
      <ng-container *ngIf="editMode; else viewMode">
        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-user m-2"></i></span>
            <span class="card-title ml-2">تعديل الاسم</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <input [(ngModel)]="freelancer.name" class="form-control" />
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-briefcase m-2"></i></span>
            <span class="card-title ml-2">تعديل اللقب</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <input [(ngModel)]="freelancer.title" class="form-control" />
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-image m-2"></i></span>
            <span class="card-title ml-2">تعديل الصورة</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <input
              type="file"
              (change)="onFileChange($event)"
              class="form-control"
              accept=".png, .jpg, .jpeg"
            />
            <small class="text-danger">
              الامتدادات المسموح بها : png , jpg and jpeg
            </small>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-trophy m-2"></i></span>
            <span class="card-title ml-2"> تعديل النبذة التعريفية</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <textarea
              [(ngModel)]="freelancer.overview"
              class="form-control"
              rows="5"
            ></textarea>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-pencil m-2"></i></span>
            <span class="card-title ml-2"> تعديل المهارات</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <div *ngFor="let skill of allSkills">
              <input
                type="checkbox"
                [checked]="isSkillSelected(skill.id)"
                (change)="onSkillChange($event, skill.id)"
              />
              {{ skill.title }}
            </div>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-briefcase m-2"></i></span>
            <span class="card-title ml-2"> تعديل الدولة</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <input [(ngModel)]="freelancer.address" class="form-control" />
          </div>
        </div>

        <button
          class="btn btn-success mb-2"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="saveChanges()"
        >
          حفظ التغييرات
        </button>
        <!-- Include the SimpleModalComponent -->
        <app-save-success-window></app-save-success-window>
        <button class="btn btn-secondary ml-2 mb-2" (click)="cancelEdit()">
          إلغاء
        </button>
      </ng-container>
      <ng-template #viewMode>
        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-user m-2"></i></span>
            <span class="card-title ml-2">الاسم</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <p>{{ freelancer.name }}</p>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-briefcase m-2"></i></span>
            <span class="card-title ml-2">اللقب</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <p *ngIf="freelancer.title; else defaultTitle">
              {{ freelancer.title }}
            </p>
            <ng-template #defaultTitle>
              <span class="text-danger"> لم يضف التخصص بعد </span>
            </ng-template>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-trophy m-2"></i></span>
            <span class="card-title ml-2">نبذة عني</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <p *ngIf="freelancer.overview; else defaultOverview">
              {{ freelancer.overview }}
            </p>
            <ng-template #defaultOverview>
              <span class="text-danger"> لم يكتب نبذة شخصية عن نفسه بعد </span>
            </ng-template>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-briefcase m-2"></i></span>
            <span class="card-title ml-2">الدولة</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <p *ngIf="freelancer.address; else defaultCountry">
              {{ freelancer.address }}
            </p>
            <ng-template #defaultCountry>
              <span class="text-danger"> لم يضف الدولة بعد </span>
            </ng-template>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header bg-success text-white" style="direction: rtl">
            <span class="card-icon"><i class="fa fa-pencil m-2"></i></span>
            <span class="card-title ml-2">مهاراتي</span>
          </div>
          <div class="card-body" style="direction: rtl">
            <ul *ngIf="freelancer.skills.length > 0; else defaultSkills">
              <li *ngFor="let skill of freelancer.skills">{{ skill.title }}</li>
            </ul>
            <ng-template #defaultSkills>
              <span class="text-danger"> لا توجد مهارات مضافة حتي الان </span>
            </ng-template>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-md-8">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item ms-auto">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/freelancerprofile', freelancer.id, 'portfolio']"
            >معرض الأعمال</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/freelancerprofile', freelancer.id, 'workhistory']"
            >المشاريع</a
          >
        </li>
      </ul>
      <div class="tab-content p-3 bg-white rounded shadow-sm">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
