<main class="container mt-4">
  <section id="content" class="page-heading p-5 bg-light rounded shadow-sm">
    <div class="media d-flex align-items-center flex-row-reverse">
      <div class="media-right pl-3">
        <a href="#">
          <img
            class="media-object mw-150 border rounded-circle shadow"
            [src]="freelancer.personalImageBytes"
            [alt]="freelancer.name + ' image'"
              height="250"
              width="250"
          />
        </a>
      </div>
      <div class="media-body mr-4">
        <h2 class="media-heading" style="direction: rtl">
          {{ freelancer.name }}
        </h2>
        <p class="lead text-muted" *ngIf="freelancer.title; else defaultTitle">
          {{ freelancer.title }}
        </p>
        <ng-template #defaultTitle>
          <span class="text-danger"> لم يضف التخصص بعد </span>
        </ng-template>

        <div class="media-links mt-3">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" title="Facebook Link">
                <span
                  class="fa-brands fa-facebook-square fs-3 text-primary"
                ></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" title="LinkedIn Link">
                <span class="fa-brands fa-linkedin fs-3 text-primary"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" title="GitHub Link">
                <span class="fa-brands fa-github fs-3 text-dark"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" title="Phone Link">
                <span class="fa fa-phone-square fs-3 text-success"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" title="Email Link">
                <span class="fa fa-envelope-square fs-3 text-muted"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white" style="direction: rtl">
          <span class="card-icon"><i class="fa fa-trophy m-2"></i></span>
          <span class="card-title ml-2">نبذة عني</span>
        </div>
        <div class="card-body" style="direction: rtl">
          <p *ngIf="freelancer.overview; else defaultOverview">
            {{ freelancer.overview }}
          </p>

          <ng-template #defaultOverview>
            <span class="text-danger"> لم يكتب نبذة شخصية عن نفسه بعد </span>
          </ng-template>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white" style="direction: rtl">
          <span class="card-icon"><i class="fa fa-pencil m-2"></i></span>
          <span class="card-title ml-2">مهاراتي</span>
        </div>
        <div class="card-body" style="direction: rtl">
          <ul *ngIf="freelancer.skills[0]; else defaultSkills">
            <li *ngFor="let skill of freelancer?.skills">{{ skill.title }}</li>
          </ul>
          <ng-template #defaultSkills>
            <span class="text-danger"> لا توجد مهارات مضافة حتي الان </span>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item ms-auto">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/freelancerprofile', freelancer.id, 'portfolio']"
          >
            >معرض الأعمال</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/freelancerprofile', freelancer.id, 'workhistory']"
          >
            >المشاريع</a
          >
        </li>
      </ul>
      <div class="tab-content p-3 bg-white rounded shadow-sm">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
