<div class="project container-fluid pt-5">
  <div class="col-12">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="col-12 justify-content-start align-items-center gap-3">
        <div class="jobs-container mt-3" *ngIf="clientJob">
          <div class="container job-item my-3 pt-2 border rounded" *ngIf="clientJob">
            <div class="row justify-content-between align-items-center">
              <div class="col-12 d-flex justify-content-end align-items-center">
                <div class="d-flex flex-column text-end me-3">
                  <div class="d-flex">
                    <p class="status ms-1 p-1">{{ clientJob.status === JobStatus.completed ? 'مغلق' : 'مفتوح' }}</p>
                    <p class="title">{{ clientJob.title }}</p>

                  </div>
                  <div class="d-flex">
                    <p class="clientName"><i class="fa-solid fa-user"></i> {{ clientJob.clientName }}</p>
                  </div>
                </div>
                <img [src]="clientJob.clientImg" height="50px" alt="{{ clientJob.clientName }}" class="rounded-circle" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-11 container-fluid justify-content-center align-items-center d-flex my-2" *ngIf="clientJob">
      <div class=" container">
        <h6 class="text-end py-3">معلومات المشروع</h6>
        <hr />
        <div class="text-end projectdetails">
          <div class="d-flex justify-content-between mx-3">
            <p class="p-1">تاريخ النشر</p>
            <p class="mx-2">{{ getFormattedDate(clientJob.postTime) }}</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between mx-3">
            <p class="p-1">الميزانية</p>
            <p class="mx-5">{{ clientJob.minBudget }} $ - {{ clientJob.maxBudget }} $</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between mx-3">
            <p class="p-1">مدة المشروع</p>
            <p class="mx-5">3 أيام</p>
          </div>
          <hr />
          <div class="d-flex justify-content-between mx-3">
            <p class="p-1">عدد العروض</p>
            <!-- <p class="mx-5">{{ clientJob.offersCount }}</p> -->
          </div>
        </div>
      </div>
      <div class="col-8 text-end ms-3">
        <div class="container my-2 py-2">
          <h5 class="text-end py-2">وصف المشروع</h5>
          <hr />
          <p>{{ clientJob.description }}</p>
        </div>
        <div class="container my-2 py-2">
          <h5>أضف عرضك</h5>
          <hr />
          <form [formGroup]="proposalForm" (ngSubmit)="addProposal()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="deliveryTime">مدة التسليم بالأيام</label>
                <input formControlName="Duration" type="number" id="deliveryTime" name="deliveryTime" placeholder="مدة التسليم" class="w-75 form-control" required />
              </div>
              <div class="col-md-6 mb-3">
                <label for="offerValue">قيمة العرض بالدولار</label>
                <input formControlName="Price" type="number" id="offerValue" name="offerValue" placeholder="قيمة العرض" class="w-75 form-control" required />
              </div>
            </div>
            <div class="col-11 mt-3">
              <label for="offerDetails">تفاصيل العرض</label>
              <textarea formControlName="Description" id="offerDetails" name="offerDetails" class="w-100 form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-success mt-3">أضف عرضك</button>
          </form>
        </div>
        <div class="container my-2 py-2">
          <h4>العروض المقدمة</h4>
        </div>
      </div>
    </div>
  </div>
</div>
