<!--
<div dir="rtl" class="container-fluid">
  <div class="row align-items-center">
    <div *ngIf="showEmailsent" class="col-md-6 float-right mt-5 me-3">
      <form class="form" (ngSubmit)="resetPassword()">
        <h5 class="text-center" style="color: #1dbf73;">اعادة تعيين كلمة السر</h5>
        <div class="flex-column">
          <label for="newpassword">ادخل كلمة سر جديدة</label>
        </div>
        <div class="inputForm d-flex align-items-center">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20">
            <g data-name="Layer 3" id="Layer_3">
              <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
            </g>
          </svg>
          <input [(ngModel)]="password" placeholder="كلمة سر جديدة" id="newpassword" class="input" type="password" name="password" required>
        </div>
        <div class="flex-column">
          <label for="confirmnew">أكد كلمة سر الجديدة</label>
        </div>
        <div class="inputForm d-flex align-items-center">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20">
            <g data-name="Layer 3" id="Layer_3">
              <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
            </g>
          </svg>
          <input [(ngModel)]="confirmPassword" placeholder="أكد كلمة سر جديدة" id="confirmnew" class="input" type="password" name="confirmPassword" required>
        </div>
        <button class="btn" type="submit" [disabled]="isSubmitting">
          تغيير كلمة المرور
          <i *ngIf="isSubmitting" class="fas fa-spinner fa-spin"></i>
        </button>
      </form>
    </div>
    <div *ngIf="!showEmailsent" class="col-md-6 float-right mt-5 me-3">
      <form class="form" (ngSubmit)="forgetPassword()">
        <h5 class="text-center" style="color: #1dbf73;">هل نسيت كلمة السر؟</h5>
        <div class="flex-column">
          <label for="email">ادخل بريدك الإلكتروني</label>
        </div>
        <div class="inputForm d-flex align-items-center">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20">
            <g data-name="Layer 3" id="Layer_3">
              <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
            </g>
          </svg>
          <input [(ngModel)]="email" placeholder="البريد الإلكتروني" id="email" class="input" type="email" name="email" required>
        </div>
        <button class="btn" type="submit" [disabled]="isSubmitting">
          طلب إعادة تعيين كلمة المرور
          <i *ngIf="isSubmitting" class="fas fa-spinner fa-spin"></i>
        </button>
      </form>
    </div>
    <div class="col-md-5 mt-5 d-flex justify-content-center">
      <img src="../../assets/imgs/Forgot password-bro.png" alt="img" class="img-fluid">
    </div>
  </div>
</div> -->
<div dir="rtl" class="container-fluid">
  <div class="row align-items-center">
    <div *ngIf="showEmailsent" class="col-md-6 float-right mt-5 me-3">
      <form class="form" #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">
        <h5 class="text-center" style="color: #1dbf73;">اعادة تعيين كلمة السر</h5>
        <div class="flex-column">
          <label for="newpassword">ادخل كلمة سر جديدة</label>
        </div>
        <div class="inputForm d-flex align-items-center">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20">
            <g data-name="Layer 3" id="Layer_3">
              <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
            </g>
          </svg>
          <input [(ngModel)]="password" placeholder="كلمة سر جديدة" id="password" class="input" type="password" name="password" required>
        </div>
        <div *ngIf="getPasswordError()" class="text-danger">
          <small>{{ getPasswordError() }}</small>
        </div>
        <div class="flex-column">
          <label for="confirmnew">أكد كلمة سر جديدة</label>
        </div>
        <div class="inputForm d-flex align-items-center">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20">
            <g data-name="Layer 3" id="Layer_3">
              <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
            </g>
          </svg>
          <input [(ngModel)]="confirmPassword" placeholder="أكد كلمة سر جديدة" id="confirmPassword" class="input" type="password" name="confirmPassword" required>
        </div>
        <div *ngIf="getConfirmPasswordError()" class="text-danger">
          <small>{{ getConfirmPasswordError() }}</small>
        </div>
        <div *ngIf="getTokenError()" class="text-danger">
          <small>{{ getTokenError() }}</small>
        </div>
        <button class="btn opacity-50" type="submit" [disabled]="isSubmitting">
          طلب إعادة تعيين كلمة المرور
          <i *ngIf="isSubmitting" class="fas fa-spinner fa-spin"></i>
        </button>
      </form>
    </div>
    <!-- ------------------------ -->
    <div *ngIf="!showEmailsent" class="col-md-6 float-right mt-5 me-3">
      <form class="form" (ngSubmit)="forgetPassword()">
        <h5 class="text-center" style="color: #1dbf73;">هل نسيت كلمة السر؟</h5>
        <div class="flex-column">
          <label for="email">ادخل بريدك الإلكتروني</label>
        </div>
        <div class="inputForm d-flex align-items-center">
          <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20">
            <g data-name="Layer 3" id="Layer_3">
              <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
            </g>
          </svg>
          <input [(ngModel)]="email" placeholder="البريد الإلكتروني" id="email" class="input" type="email" name="email" required>
        </div>
        <button class="btn opacity-50" type="submit" [disabled]="isSubmitting">
          طلب إعادة تعيين كلمة المرور
          <i *ngIf="isSubmitting" class="fas fa-spinner fa-spin"></i>
        </button>
      </form>
    </div>
    <div class="col-md-5 mt-5 d-flex justify-content-center">
      <img src="../../assets/imgs/Forgot password-bro.png" alt="img" class="img-fluid">
    </div>
  </div>
</div>


