
<div *ngFor="let project of portfolio" class="card ms-auto" style="width: 18rem; direction: rtl;" >
    <img class="card-img-top" src="data:image/png;base64,{{project.poster}}" alt="Card image cap">
    <div class="card-body" style="direction: rtl;">
      <h5 class="card-title">{{project.title}}</h5>
      <p class="card-text">{{project.description}}</p>
      <button (click)="ToggleProjectSkills(project.id)" class="btn btn-primary">{{project.showSkills? 'اخفاء المهارات' : 'عرض المهارات'}}</button>
      <div *ngIf="project.showSkills">
<ul *ngIf="project.skills[0]; else defaultSkills">
    <li *ngFor="let skill of project.skills">
     {{skill.title}}
    </li>
</ul>
<ng-template #defaultSkills>
    <span class="text-danger">
لا توجد مهارات لهذا العمل 
    </span>
</ng-template>

      </div>
    </div>
  </div>