.text{
    font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
    /* font-size: 50px; */
    /* font-weight: <weight>;
    font-style: normal; */
  }

  .custom-title {
    font-weight: bold;
    font-size: 1.2rem; /* Adjust the size as needed */
    background-color:rgba(140, 140, 128, 0.137); /* Light grey background */
    padding: 10px; /* Add padding to the heading */
  }
  
  .custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Custom shadow */
  }