<!-- Button for adding new project -->
<div class="container mt-4">
  <button class="btn btn-success mb-3" (click)="showAddForm()">
    Add New Project
  </button>
</div>

<!-- Form for adding new project -->
<div class="container mt-4" *ngIf="showAddProjectForm">
  <form [formGroup]="projectForm" (ngSubmit)="onAddSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
      <small *ngIf="hasError('title', 'required')" class="text-danger"
        >Title is required</small
      >
      <small *ngIf="hasError('title', 'minlength')" class="text-danger"
        >Title must be at least 3 characters long</small
      >
      <small *ngIf="hasError('title', 'maxlength')" class="text-danger"
        >Title cannot exceed 100 characters</small
      >
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        formControlName="description"
      ></textarea>
      <small *ngIf="hasError('description', 'maxlength')" class="text-danger"
        >Description cannot exceed 500 characters</small
      >
    </div>
    <div class="mb-3">
      <label for="link" class="form-label">Project Link</label>
      <input
        type="text"
        class="form-control"
        id="link"
        formControlName="link"
      />
      <!-- Add validation message for link if needed -->
    </div>
    <div class="mb-3">
      <label for="posterFile" class="form-label">Upload Poster Image</label>
      <input
        type="file"
        class="form-control"
        id="posterFile"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
      <small *ngIf="hasError('poster', 'required')" class="text-danger">
        Poster is required
      </small>
    </div>
    <div class="mb-3">
      <label for="skills" class="form-label">Skills</label>
      <select
        multiple
        class="form-control"
        id="skills"
        formControlName="skills"
      >
        <option *ngFor="let skill of allSkills" [value]="skill.id">
          {{ skill.title }}
        </option>
      </select>
      <!-- Add any validation message for skills if needed -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary ms-2" (click)="cancelAdd()">
      Cancel
    </button>
  </form>
</div>

<div class="container mt-4">
  <div class="row justify-content-end">
    <div *ngFor="let project of portfolio" class="col-auto mb-4">
      <div class="card ms-auto" style="width: 18rem; direction: rtl">
        <img
          class="card-img-top"
          [src]="project.poster"
          [alt]="project.title + ' image'"
          [title]="project.title + ' image'"
          height="250"
          width="250"
        />
        <div class="card-body" style="direction: rtl">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <button
            (click)="ToggleProjectSkills(project.id)"
            class="btn btn-primary"
          >
            {{ project.showSkills ? "اخفاء المهارات" : "عرض المهارات" }}
          </button>

          <div *ngIf="project.showSkills">
            <ul *ngIf="project.skills.length > 0; else defaultSkills">
              <li *ngFor="let skill of project.skills">
                {{ getSkillTitle(skill.id) }}
              </li>
            </ul>
            <ng-template #defaultSkills>
              <span class="text-danger">لا توجد مهارات لهذا العمل</span>
            </ng-template>
          </div>

          <button (click)="editProject(project)" class="btn btn-secondary mt-2">
            تعديل
          </button>

          <!-- Add delete button -->
          <button
            (click)="deleteProject(project.id)"
            class="btn btn-danger mt-2"
          >
            حذف
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form for adding/editing project -->
<div class="container mt-4" *ngIf="editingProject">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
      <!-- Display error message if title is required and form is submitted -->
      <small *ngIf="hasError('title', 'required')" class="text-danger"
        >Title is required</small
      >
      <small *ngIf="hasError('title', 'minlength')" class="text-danger"
        >Title must be at least 3 characters long</small
      >
      <small *ngIf="hasError('title', 'maxlength')" class="text-danger"
        >Title cannot exceed 100 characters</small
      >
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        formControlName="description"
      ></textarea>
      <small *ngIf="hasError('description', 'maxlength')" class="text-danger"
        >Description cannot exceed 500 characters</small
      >
    </div>
    <div class="mb-3">
      <label for="link" class="form-label">Project Link</label>
      <input
        type="text"
        class="form-control"
        id="link"
        formControlName="link"
      />
      <!-- Add validation message for link if needed -->
    </div>
    <div class="mb-3">
      <label for="posterFile" class="form-label">Upload Poster Image</label>
      <input
        type="file"
        class="form-control"
        id="posterFile"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
      <small *ngIf="hasError('poster', 'required')" class="text-danger"
        >Poster is required</small
      >
    </div>
    <div class="mb-3">
      <label for="skills" class="form-label">Skills</label>
      <select
        multiple
        class="form-control"
        id="skills"
        formControlName="skills"
      >
        <option *ngFor="let skill of allSkills" [value]="skill.id">
          {{ skill.title }}
        </option>
      </select>
      <!-- Add any validation message for skills if needed -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button
      type="button"
      class="btn btn-secondary ms-2"
      (click)="cancelEdit()"
      [disabled]="!editingProject"
    >
      Cancel
    </button>
  </form>
</div>