.card {
    height: 100%;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card-text.mt-auto {
    margin-top: auto;
  }
  .card {
    text-align: center;
    border: 2px solid #eaeaea;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .card:hover,
  .card:focus {
    border-bottom: 4px solid #1dbf73 !important;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  i {
    color: #f39c12
  }
  h5 {
    /* font-family: "Marhey", sans-serif; */
    font-family: 'cairo';
    font-optical-sizing: auto;
    /* color: #1dbf73; */
    color: rgb(1, 63, 1);
  }
  p {
    font-family: 'cairo';
  }
 