<div class="project container-fluid pt-2">
  <div class="col-12">
    <div
      class="col-11 container-fluid justify-content-center align-items-center d-flex my-2"
    >
      <div class="col-3 mx-5">
        <div dir="rtl">
          <h6>
            <i class="fa-solid fa-backward-fast ms-2"></i>
            أضف خدمتك وابدأ بتحقيق الأرباح
          </h6>
          <p>
            يتيح لك شغلانة إمكانية تحقيق الأرباح عبر إضافة خدمات تجيد تنفيذها
            وإتاحتها للبيع للعملاء المهتمين. أدخل تفاصيل الخدمة بعناية ليقوم
            فريق خمسات بمراجعتها ونشرها.
          </p>
        </div>
        <div>
          <h6 dir="rtl">نصائح لإضافة خدمة صحيحة</h6>
        </div>
        <h6 class="text-end py-3">
          <i class="fa-solid fa-plus ms-2"></i> عنوان الخدمة
        </h6>
        <p dir="rtl">
          اختر عنوانًا مختصرًا وواضحًا يعكس ما ستقدمه بالتحديد في خدمتك، ليتمكن
          المشترين من العثور عليها عند البحث بكلمات ذات صلة بمجال الخدمة.
        </p>
        <div dir="rtl">
          <h6 class="py-3">
            <i class="fa-solid fa-briefcase ms-2"></i> وصف الخدمة
          </h6>
          <p dir="rtl">
            اكتب وصفًا مميزًا للخدمة بلغة سليمة خالية من الأخطاء، تشرح خلاله ما
            سيحصل عليه العميل بالتفصيل عند شراء الخدمة.
          </p>
        </div>

        <div dir="rtl">
          <h6 class="py-3">
            <i class="fa-solid fa-briefcase ms-2"></i>
            وصف الخدمة
          </h6>
          <p dir="rtl">
            أضف صورة معبرة عن الخدمة بالإضافة إلى ثلاثة نماذج حصرية على الأقل
            تعرّف المشتري من خلالها على أسلوبك في العمل ومهاراتك.
          </p>
        </div>
        <div dir="rtl">
          <h6 class="py-3">
            <i class="fa-solid fa-briefcase ms-2"></i>
            سعر الخدمة
          </h6>
          <p dir="rtl">
            احرص على تحديد سعر مناسب للخدمة بناء على حجم العمل والجهد المبذول مع
            الأخذ بعين الاعتبار عمولة الموقع، وحدد مدة تسليم مناسبة لإنجاز
            الخدمة بإتقان
          </p>
        </div>

        <hr />
      </div>
      <div class="col-8 text-end ms-3">
        <h3 class="mb-4 mx-2">إضافة خدمة جديد</h3>
        <div class="container my-2 py-2">
          <form>
            <div class="col-11">
              <label for="Project-Title">عنوان الخدمة </label>
              <input
                type="text"
                id="Project-Title"
                name="Project-Title"
                class="w-100 form-control"
                required
              />
              <small>
                أدخل عنواناً واضحاً باللغة العربية يصف الخدمة التي تريد أن
                تقدمها. لا تدخل رموزاً أو كلمات مثل "حصرياً"، "لأول مرة"، "لفترة
                محدود".. الخ.
              </small>
            </div>
            <div class="col-11">
              <label for="Project-Skills"> معرض الخدمة </label>
              <div class="my-3">
                <input type="file" id="file1" name="upload" />
              </div>
            </div>
            <div class="col-11 mt-3">
              <label for="offer-details">قم بوصف الخدمة </label>
              <textarea
                id="offer-details"
                name="offer-details"
                class="w-100 form-control"
                rows="4"
                required
              ></textarea>
              <small>أدرج وصفا مفصّلا ودقيقا للخدمة .</small>
            </div>
            <div class="col-11 mt-2">
              <label for="link"> كلمات افتتاحية </label>
              <input
                type="url"
                id="link"
                name="link"
                class="w-100 form-control"
              />
              <small> اختر الكلمات المفتاحية المناسبة بحد أقصى 5 كلمات </small>
            </div>

            <div class="d-flex">
              <div class="col-md-5 mx-2">
                <label for="project-category" class="form-label">
                  سعر الخدمة
                </label>
                <select
                  id="project-category"
                  class="form-select"
                  formControlName="categoryId"
                  required
                >
                  <option disabled selected>اختر سعر</option>
                  <option></option>
                </select>
              </div>

              <div class="col-md-5 mx-5">
                <label for="project-category" class="form-label"
                  >تصنيف المشروع</label
                >
                <select
                  id="project-category"
                  class="form-select"
                  formControlName="categoryId"
                  required
                >
                  <option disabled selected>اختر تصنيف</option>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-11 mt-3">
              <label for="offer-details"> تعليمات للمشتري </label>
              <textarea
                id="offer-details"
                name="offer-details"
                class="w-100 form-control"
                rows="4"
                required
              ></textarea>
              <small>
                المعلومات التي تحتاجها من المشتري لتنفيذ الخدمة. تظهر هذه
                المعلومات بعد شراء الخدمة فقط.
              </small>
            </div>
            <button type="submit" class="btn btn-success mt-3">
              أضف الخدمة
            </button>
          </form>
          <h1></h1>
        </div>
      </div>
    </div>
  </div>
</div>
